/* * {
  outline: 1px solid pink;
} */

.inner {
  width: 1200px;
  margin: 0 auto;
}


.TopBanner {
  background: #008850;
  color: #f9f9f9;
  overflow: hidden;
  transition: 0.4s;
  line-height: 1;
  /* height가 auto, 즉 수치가 없으니 트랜지션이 안된다. 그래서 높이를 준다. */
  height: 155px;
}

/* 탑배너에 padding을 주게 되면 접힐 때 패딩이 살아있다.
접는 박스에 패딩을 넣으면 안접히니 그 안에 패딩을 넣어주자 */
.TopBanner .inner {
  position: relative;
  padding: 50px 0;
}

.TopBanner.on {
  height: 0;
}

.TopBanner h2 {
  font-size: 30px;
  font-weight: 700;
  margin: 0 0 10px 0;
}

.TopBanner h2 span {
  font-weight: 400;
  color: #00e085;
  margin: 0 0 0 10px;
}

.TopBanner p {
  font-size: 15px;
}

.TopBanner .top_close_btn {
  position: absolute;
  top: 30px;
  right: 0;
  font-size: 30px;
}

.Header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  /* padding: 0 75px; */
  background: rgba(0, 0, 0, 0.5);
  color: #f9f9f9;
  line-height: 100px;
  transition: 0.4s;
  z-index: 999;
}

.Header.on {
  background: rgba(255, 255, 255, 1);
  color: #444;
  line-height: 70px;
  border-bottom: 1px solid #ddd;
}

.Header.on h1 a {
  background: url(../assets/logo.png) no-repeat center center/cover;
}

.Header:hover {
  background: rgba(255, 255, 255, 1);
  color: #444;
}

.Header h1 {
  float: left;
  font-size: 0;
  margin: 0 0 0 70px;
}

.Header h1 a {
  display: inline-block;
  vertical-align: middle;
  width: 188px;
  height: 22px;
  background: url(../assets/logo_w.png) no-repeat center center/cover;
}

.Header:hover h1 a {
  background: url(../assets/logo.png) no-repeat center center/cover;
}

.Header .Gnb {
  float: left;
  margin: 0 0 0 50px;
}

.Header .Gnb>ul>li {
  float: left;
}

.Header .Gnb>ul>li a {
  position: relative;
  display: block;
  padding: 0 35px;
  font-size: 19px;
}

.Header .Gnb>ul>li a::after {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 35px;
  right: 100%;
  height: 2px;
  background: #008850;
}

.Header .Gnb>ul>li a:hover::after {
  right: 35px
}


.Header .top_service {
  float: right;
  margin: 0 70px 0 0;
}

.main_slider figure {
  position: relative;
  height: 900px;
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
}

.main_slider figure .inner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-shadow: 0 0 3px #000;
  color: #fff;
}

.main_slider .itm01 {
  background-image: url(../assets/main_visual01.jpg);
}

.main_slider .itm02 {
  background-image: url(../assets/main_visual02.jpg);
}

.main_slider .itm03 {
  background-image: url(../assets/main_visual03.jpg);
}

.main_slider figure h2 {
  font-size: 50px;
  font-weight: 900;
  margin: 0 0 20px 0;
}


.main_slider figure p {
  font-size: 18px;
  font-weight: 300;
  line-height: 1.45;
  margin: 0 0 50px 0;
}

.Section01 .inner a {
  display: inline-block;
  padding: 12px 28px;
  border: 1px solid #f9f9f9;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
}

.Section01 {
  position: relative;
  padding: 155px 0 0 0;
  transition: 0.5s;
}

.Section01 {
  padding: 0 0 0 0;
}

.Section01 .slider_handler button {
  position: absolute;
  top: 50%;
  left: 50%;
  /* transform: translate(-50%, -50%); */
  color: #f9f9f9;
  font-size: 14px;
  font-weight: 300;
  cursor: pointer;
  background: transparent;
  border: none;
  outline: none;
}

.Section01 .slider_handler button:first-child::before {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  width: 50px;
  height: 1px;
  border-top: 1px solid #f9f9f9;
  transform: translateX(-50%);
}

.Section01 .slider_handler button:first-child::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 0%;
  width: 10px;
  height: 1px;
  border-top: 1px solid #f9f9f9;
  transform: translateX(-50%) rotate(-45deg);
  transform-origin: left;
}

.Section01 .slider_handler button:last-child::before {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  width: 50px;
  height: 1px;
  border-top: 1px solid #f9f9f9;
  transform: translateX(-50%);
}

.Section01 .slider_handler button:last-child::after {
  content: "";
  position: absolute;
  top: 100%;
  right: 0%;
  width: 10px;
  height: 1px;
  border-top: 1px solid #f9f9f9;
  transform: translateX(50%) rotate(45deg);
  transform-origin: right;
}

.Section01 .slider_handler button:first-child {
  float: left;
  margin: 0 0 0 -700px;
}

.Section01 .slider_handler button:last-child {
  float: right;
  margin: 0 0 0 700px;
}


.Section01 .num {
  position: absolute;
  bottom: 250px;
  left: 50%;
  margin: 0 0 0 -600px;
  color: #fff;
  font-size: 35px;
}

.Section01 .slide_dots {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: 0 0 0 600px;
  transform: translate(-100%, -50%);
  color: #f9f9f9;
  font-size: 18px;
  text-align: right;
  font-weight: 300;
  /* 글자수 달라도 오른쪽으로 붙게 */
}

.Section01 .slide_dots li {
  margin: 0 0 10px 0;
}

.Section01 .slide_dots li span {
  font-size: 0;
}

.Section01 .slide_dots li.on span {
  font-size: 18px;
}

.Section01 .slide_dots li.on::after {
  background: #fff;
}

.Section01 .slide_dots>li::after {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  margin: 0 0 0 10px;
  vertical-align: -0.2em;
}

.Section02 {
  padding: 100px 0;
  text-align: center;
}

.Section02 h2 {
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 15px;
}

.Section02>p {
  font-size: 15px;
  font-weight: 300;
  margin-bottom: 40px;
}

.Section02 .inner figure {
  float: left;
  width: calc(100% / 3);
}

.Section02 .inner figure .thumb {
  overflow: hidden;
  margin: 0 0 40px 0;
}

.Section02 .inner figure img {
  transition: 0.5s;
}

.Section02 .inner figure:hover img {
  transform: scale(1.1);
}

.Section02 .inner .des {
  position: relative;
  font-size: 17px;
  font-weight: 500;
  margin: 0 0 20px 0;
}

/* thumb에 하면 안된다. overflow:hidden 있으니까 */
.Section02 .inner .des::before {
  content: "";
  position: absolute;
  top: -60px;
  left: 50%;
  transform: translateX(-50%);
  width: 2px;
  height: 40px;
  background: #008850;
}

.Section02 .inner p {
  font-size: 15px;
  font-weight: 300;
  margin: 0 0 20px 0;
  line-height: 1.4;
}

.Section02 .inner a {
  display: inline-block;
  padding: 12px 28px;
  border: 1px solid #008850;
  color: #008850;
  font-size: 14px;
  font-weight: 500;
}

.Section03 {
  padding: 100px 0;
  background: url(../assets/section_bg.jpg) repeat-x;
}

.Section03 .slider_box {
  width: calc((100% - 1200px) / 2 + 1200px);
  height: 700px;
  float: right;
}

.Section03 .slider_box>div {
  float: left;
}

.Section03 .slider_box .left {
  width: 450px;

}

.Section03 .slider_box .left figure {
  padding: 0 50px 0 0;
}

.Section03 .slider_box .left img {
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.25);
}

.Section03 .slider_box .right {
  position: relative;
  width: calc(100% - 450px);
  height: 100%;
  overflow: hidden;
  padding: 30px 0 0 0;
}

.Section03 .slider_box .right h2 {
  font-size: 30px;
  font-weight: 700;
  margin: 0 0 15px 0;
  color: #f9f9f9;
}

.Section03 .slider_box .right p {
  font-size: 17px;
  font-weight: 300;
  margin: 0 0 50px 0;
  color: #f9f9f9;
}

.Section03 .slider_box .right figure {
  padding: 0 30px 0 0;
}

.Section03 .slider_box .right_slider {
  position: absolute;
  bottom: 0;
  left: 0;
  width: calc(100% + 100px);
}

.Section03 .slider_handler {
  display: inline-block;
  border: 1px solid #f9f9f9;
  font-size: 0;
}

.Section03 .slider_handler i {
  font-size: 20px;
  color: #f9f9f9;
  padding: 10px;
  cursor: pointer;
}

.Section03 .slider_handler i~i {
  border-left: 1px solid #f9f9f9;
}


.Section03 strong {
  line-height: 60px;
  font-size: 18px;
  font-weight: 500;
}


/* * {
  outline: 1px solid pink;
} */


.Section04 {
  padding: 100px 0 170px 0;
  text-align: center;
  background: #f9f9f9
}

.Section04 h2 {
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 15px;
}

.Section04>p {
  font-size: 15px;
  font-weight: 300;
  margin-bottom: 40px;
}

.Section04 .inner {
  position: relative;
  width: 100%;
}

/* centermode 중간이 안되서
display block으로 들어갔으니
margin 0 auto로 맞춰줌 */
.Section04 .center_slider img {
  margin: 0 auto;
}

.Section04 .center_slider figure {
  opacity: 0.3;
}

.Section04 .center_slider figure.on {
  opacity: 1;
  transition: 0.3s;
}

.Section04 .content_box>div {
  display: none;
}

.Section04 .content_box>div.on {
  display: block;
}

.Section04 .case {
  position: absolute;
  left: 50%;
  top: 100px;
  background: #fff;
  padding: 50px;
  margin: 0 0 0 -500px;
  width: 300px;
  text-align: left;
  box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.25);
}


.Section04 .content_box strong {
  font-size: 25px;
  font-weight: 500;
  display: block;
  min-height: 60px;
  line-height: 1.2;
  margin-bottom: 10px;
  /* strong의 내용에 상관없이 높이를 줘서 아래 자세히보기가
  같은 위치에 있도록 */
}

.Section04 .content_box p {
  font-size: 17px;
  font-weight: 300;
  line-height: 1.45;
  margin-bottom: 30px;
  min-height: 150px;
  /*p의 내용에 상관없이 높이를 줘서 아래 자세히보기가
  같은 위치에 있도록 */
}

.Section04 .inner a {
  display: inline-block;
  padding: 12px 28px;
  border: 1px solid #008850;
  color: #008850;
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 40px;
}

.Section04 .inner .num {
  font-size: 40px;
  color: #008850;
}

.Section04 .inner .num span {
  font-size: 16px;
  color: #555;
}

.Section04 .slider_handler {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 1280px;
  /* max-width때문에 그 속에서 슬라이드 드래그로 안됨 */
}

.Section04 .slider_handler i {
  padding: 15px 25px;
  background: rgba(0, 0, 0, 0.25);
  color: #f9f9f9;
  font-size: 30px;
  cursor: pointer;
}

.Section04 .slider_handler i:first-child {
  float: left;
}

.Section04 .slider_handler i:last-child {
  float: right;
}

.Section04 .center_slider .slick-dots {
  position: absolute;
  bottom: -70px;
  left: 50%;
  transform: translateX(-50%);
}

.Section04 .center_slider .slick-dots>li {
  display: inline-block;
  width: 20px;
  height: 20px;
  background: #ddd;
  margin: 0 10px;
  cursor: pointer;
}

.Section04 .center_slider .slick-dots>li.slick-active {
  background: #008850;
}

.Section04 .center_slider .slick-dots>li button {
  display: none;
}